## 데이터 전처리

In [2]:
# 데이터 불러오기
import pandas as pd
import datetime
CSV_PATH_1 = './Data_Train.csv'
CSV_PATH_2 = './Test_set.csv'
CSV_PATH_3 = './Sample_submission.csv'
target = 'Price'

# feature 수 10개.
df_train = pd.read_csv(CSV_PATH_1)
X_train = df_train.drop(target, axis=1)
y_train = df_train[target]
X_test = pd.read_csv(CSV_PATH_2)
y_test = pd.read_csv(CSV_PATH_3)

print(X_train.info())
X_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
dtypes: object(10)
memory usage: 834.7+ KB
None

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info

In [27]:
import re
"""
전처리
1. Airline : one-hot encoding
2. Date_of_Journey : year,month feature로 변환
3. Source : one-hot encoding
4. Destination : one-hot encoding
5. Route : 삭제하자
6. Dep_Time : h*60 + min 으로 치환후 normalizing
7. Arrival_Time : 위와 동
8. Duration : 위와 동
9. Total_Stops : 숫자만 남기자 non-stop은 0
10. Additional_Info : one-hot encoding
"""

# Date_of_journey 년, 월만 남기자
def make_year(a):
    return int(a[-4:])
def make_month(a):
    return int(a[-7:-5])
X_train['year'] = X_train['Date_of_Journey'].apply(make_year)
X_train['month'] = X_train['Date_of_Journey'].apply(make_month)
X_test['year'] = X_test['Date_of_Journey'].apply(make_year)
X_test['month'] = X_test['Date_of_Journey'].apply(make_month)

print(X_train.info())
X_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  year             10683 non-null  int64
 11  month            10683 non-null  int64
dtypes: int64(2), object(10)
memory usage: 1001.7+ KB
None

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,year,month
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,2019,3
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,2019,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,2019,6
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,2019,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,2019,3